<h1>reached teams</h1>
<hr>
<hr>
<hr>
  <% @teams.each do |team| %>
    <h1> <%= link_to team.name, team_path(team), class: "btn btn-info" %></h1>

    <hr>

  <% end %>
<p><%= link_to "Add a team", new_team_path %></p>

<p><%= link_to "Return to teams", teams_path %></p>