<%= form_for [@season, @week] do |f| %>

<div class="formField">
  <%= f.label :week_number %>
  <br>
  <%= f.select :week_number, options_for_select([["Pick A Week", ""], ["1", 1], ["2", 2], ["3",3],  ["4",4], ["5",5], ["6",6], ["7",7], ["8",8], ["9",9], ["10",10], ["11",11], ["12", 12]]), :class => 'form_dropBox' %> 
</div>


<div class="field">
    <%= f.submit %>
</div>

<% end %>