<h1>reached seasons</h1>
<hr>
<hr>
<hr>
  <% @seasons.each do |season| %>
    <hr>
    <p> <%= link_to season.year, season_path(season), class: "btn btn-info" %></p>
  <% end %>
<p><%= link_to "Add a season", new_season_path %></p>

<p><%= link_to "Return to lists", seasons_path %></p>