/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 15px 0;
}

.center-block {
    text-align: center;
    align-items: center;
}

th {
    text-align: center;
    font-size: 20px;
}

ul {
    align-items: center;
    list-style-image: url("add-list-sm.png");
}
li {
    display: block;
    // outline: 1px solid black;
    transition-duration: 0.5s;
    float: left;
    list-style-type: square;
    margin: 3%;
}
.nav li {
    outline: 1px solid purple;
    transition-duration: 0.5s;
    float: left;
    list-style-type: square;
    margin: 3%;
}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    margin-left: -1rem;
    display: none;
    background-color: aquamarine;
    color: purple;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    margin-left: -50px;
}

ul li ul li {
    clear: both;
    width: 100%;
}

table {
    margin-left: 40%;
}
