        <ul>
          <li><a href="/abouts">ABOUT</a>
            <ul class="dropdown">
              <li><%= link_to 'The League', about_path(1) %></li>
              <li><a href="abouts/2">The Constitution</a></li>
              <li><a href="abouts/3">The Trophy</a></li>
              <li><a href="abouts/4">Website Developer</a></li>

              <li><a href="abouts/1">The League</a></li>
              <li><a href="abouts/2">The Constitution</a></li>
              <li><a href="abouts/3">The Trophy</a></li>
              <li><a href="abouts/4">Website Developer</a></li>
            </ul>
          </li>
          <li><a href="/teams">TEAMS</a>
            <ul class="dropdown">
              <li><a href="#">Nick Brown</a></li>
              <li><a href="#">TJBJ</a></li>
              <li><a href="#">Ethan</a></li>
              <li><a href="#">Former Players (dropped)</a></li>
            </ul>
          </li>
          <li><%= link_to 'SEASONS', seasons_path %>
            <ul class="dropdown">
              <li><a href="#">2018</a></li>
              <li><a href="#">2017</a></li>
              <li><a href="#">2016</a></li>
              <li><a href="#">2015</a></li>
            </ul>
          </li>
          <li><a href="#">RECORD BOOK</a></li>
          <li><a href="#">CHAMPIONS</a></li>
        </ul>
      </nav>
